    * {
        margin: 0;
        padding: 0cm;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    .App {
        width: 100%;
        background-color: #333;
        min-height: 100vh;
    }
    
    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Nav {
        width: 100%;
        height: 60px;
        background-color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    
    .search {
        margin: 0 20px;
        border: none;
        border-radius: 5px;
        background-color: lightgrey;
        padding: 0 10px;
        font-size: medium;
    }
    
    .search:focus {
        outline: none;
    }
    
    .Body {
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    
    .Card {
        height: auto;
        width: auto;
        background-color: aqua;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .types {
        display: flex;
    }
    
    .type {
        margin: 10px;
    }
    
    button {
        padding: 15px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    @media all and (min-width: 1000px) {
        .search {
            height: 30px;
            width: 900px;
        }
        .Body {
            width: 1000px;
        }
    }
    
    @media all and (max-width: 1000px) {
        .search {
            height: 30px;
            width: 600px;
        }
    }
    
    @media all and (max-width: 600px) {
        .search {
            height: 30px;
            width: 300px;
        }
    }